<template name="blab">
		<!-- <div id="blab-head">
			<h2>{{name}}</h2>

		</div> -->
		<!-- <div class='programbox'>{{getTitle}}</div>
 -->
		<div id="onlinelist">
			<div id="program_title">
				<h2>{{getTitle}}</h2>
				{{getDescription}}
			</div>
		
		Online Users:
		{{#each allUsers }}
			{{> onlineuser }}
		{{/each}}
		</div>
		<div id="messages">
			<div id="count"></div>
			<ul>
			{{#each allMessages }}

					<li>{{> message }}</li>

			{{/each}}
			</ul>
		</div>


		<div id="message_box">
		{{> message_box }}
		</div>

</template>