<template name="message">
	<div class="message" data-message-id="{{_id}}">
		<div class="col-image user">
				{{ nickname }}<br>
				<img id="messagethumb" src="{{profileImageThumb}}">
		</div>
		<div class="col-content">
			<div class="row">


				<div class="small-12 columns content">
					{{ content }}
				</div>

				<div class="small-8 columns reply_link">
					<a href="#" id="seereplies">{{replies}} replies - Reply</a>
					{{#if belongstoUser}}
						- <a href="#" id="deletemessage">Delete</a>
					{{/if}}
				</div>
				<div class="small-4 columns timepost">
					{{timeposted}} minutes ago
				</div>
				<div class="small-12 columns replies">

					{{#each responses}}


					<div class="row">
						<div class="small-12 columns reply">
							<div class="row">

								<div class="col-image user">{{ nickname }}</div>
								<div class="col-content">{{ content }}
									<div class="row">
										<div class="small-8 columns reply_link">
											<a href="#" id="deletereply">Delete</a>
										</div>
										<div class="small-4 columns timepost">
											{{timeposted}} minutes ago
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					{{/each}}




						<div class="small-12 columns replybox">
						{{> reply_box }}
						</div>

				</div>
			</div>
		</div>
	</div>



</template>