<template name="upload">
  <div id="dropzone" class="dropzone">
    <div style="text-align: center; color: gray;">Drop your profile photo here!</div>
  </div>
</template>

<template name="registration">
    <h1>Registration</h1>
    <div class="upload">
  {{> upload}}
  </div>
  <div class = "imgdisplay">
    <img src="{{profileImage}}" class ="imgupload">
  </div>
  <div id="registration-view">
    <form action="#" id="registration-form" class="regis-form">
      <input type="email" id="accounts-email" placeholder="email" autofocus>
      <input type="password" id="accounts-password" placeholder="password">
      <input type="password" id="accounts-confirm" placeholder="confirm password">
      <input type="nickname" id="accounts-nickname" placeholder="Nickname">
      <input type="age" id="accounts-age" placeholder="Age">
      <select class="dropbox" id="accounts-gender" name="gender">
        <option value="" selected="selected">Gender</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
      <select class="dropbox" id="accounts-favorite" name="favorite">
        <option value="" selected="selected">Favortite Genre</option>
        <option value="1">Action</option>
        <option value="2">Adventure</option>
        <option value="3">Comedy</option>
        <option value="4">Crime</option>
        <option value="5">Drama</option>
        <option value="6">Fantasy</option>
        <option value="7">Horror</option>
        <option value="8">Mystery</option>
        <option value="9">Reality</option>
        <option value="10">Romance</option>
        <option value="11">Sci-Fi</option>
        <option value="12">Triller</option>
      </select>
      <input type="submit" class="css_btn_class" id="profile-done" value="done">
    </form>
      <div class="other-links">
        <a href="{{ pathFor 'login' }}">Back</a>
      </div>
  </div>
</template>


<!-- <form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form> -->
