
<template name="registration">
    <h1>Registration</h1>
  <div id="registration-view">
    <form action="#" id="registration-form" class="form-horizontal" role="form">
   <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
      <input type="email" class="form-control" id="accounts-email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="accounts-password" placeholder="Password">
    </div>
  </div>
   <div class="form-group">
    <label for="inputConfirm" class="col-sm-2 control-label">Confirm Password</label>
      <div class="col-sm-10">
      <input type="confirm" class="form-control" id="accounts-confirm" placeholder="Confirm Password">
    </div>
  </div>
   <div class="form-group">
    <label for="inputNickname" class="col-sm-2 control-label">Nickname</label>
      <div class="col-sm-10">
      <input type="nickname" class="form-control" id="accounts-nickname" placeholder="Nickname">
    </div>
  </div>
   <div class="form-group">
    <label for="inputAge" class="col-sm-2 control-label">Age</label>
      <div class="col-sm-10">
      <input type="age" class="form-control" id="accounts-age" placeholder="Age">
    </div>
  </div>
      <select class="form control" id="accounts-gender" name="gender">
        <option value="" selected="selected">Gender</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
      <select class="dropbox" id="accounts-favorite" name="favorite">
        <option value="" selected="selected">Favortite Genre</option>
        <option value="1">Action</option>
        <option value="2">Adventure</option>
        <option value="3">Comedy</option>
        <option value="4">Crime</option>
        <option value="5">Drama</option>
        <option value="6">Fantasy</option>
        <option value="7">Horror</option>
        <option value="8">Mystery</option>
        <option value="9">Reality</option>
        <option value="10">Romance</option>
        <option value="11">Sci-Fi</option>
        <option value="12">Triller</option>
      </select>
      <input type="submit" class="css_btn_class" id="profile-done" value="done">

    </form>
      <div class="other-links">
        <a href="{{ pathFor 'login' }}">Back</a>
      </div>
  </div>

</template>



