<template name="program">


  <div class="col-md-{{duration}}" id="accordion">
    <div class="panel panel-default">

        <a data-toggle="collapse" data-parent="#accordion" href="#{{ProgramId}}">
          <div class ="panel-title">

          {{Title}}
          </div>
        </a>
      

        <div id="{{ProgramId}}" class="panel-collapse collapse">
          <div class="panel-body">
          {{usersOnline}} users connected<br>
          <a class="program" href='#'>Go to Chatroom</a>
          </div>
        </div>
    </div>
  </div>
</template>

