<template name="tweet">
<h1 class ="mainTitle">TV Schedule</h1>
<div class="grid">
  <div class = "channela">
  <div class="row">
         <div class="col-md-4">
              <h2>Channel list A</h2>
          </div>
          <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class ="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">10h00-10h30
                </a>
                </h2>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>
            </div>
          </div>
         <div class="col-md-2" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">10h30-11h00
              </a>
              </h2>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-2" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">11h00-11h30
              </a>
              </h2>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-2" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">11h30-12h00
              </a>
              </h2>
            </div>
        </div>
            <div id="collapseFour" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
        </div>
      <div class ="channelb" >
      <div class="row">
         <div class="col-md-4">
              <h2>Channel list B</h2>
         </div>
          <div class="col-md-2" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">10h00-10h30
              </a>
              </h2>
            </div>
            <div id="collapseFive" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">10h30-11h00
              </a>
              </h2>
            </div>
            <div id="collapseSix" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-2" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">11h00-11h30
              </a>
              </h2>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-2" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">11h30-12h00
              </a>
              </h2>
            </div>
            <div id="collapseEight" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class = "channelc">
      <div class="row">
         <div class="col-md-4">
              <h2>Channel list C</h2>
         </div>
          <div class="col-md-2" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">10h00-10h30
              </a>
              </h2>
            </div>
            <div id="collapseNine" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
            <div class="col-md-2" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">10h30-11h00
                  </a>
                  </h2>
                </div>
              <div id="collapseTen" class="panel-collapse collapse in">
                <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
           <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">11h00-11h30
                </a>
                </h2>
              </div>
            <div id="collapseEleven" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">11h30-12h00
                </a>
                </h2>
              </div>
            <div id="collapseTwelve" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
      <div class="channeld">
      <div class="row">
         <div class="col-md-4">
              <h2>Channel list D</h2>
         </div>
          <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">10h00-10h30
                </a>
                </h2>
              </div>
            <div id="collapseThirteen" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">10h30-11h00
                </a>
                </h2>
              </div>
            <div id="collapseFourteen" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
            <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">11h00-11h30
                </a>
                </h2>
              </div>
            <div id="collapseFifteen" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">11h30-12h00
                </a>
                </h2>
              </div>
            <div id="collapseSixteen" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <div class = "channele">
          <div class="row">
            <div class="col-md-4">
              <h2>Channel list E</h2>
            </div>
           <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">10h00-10h30
                </a>
                </h2>
              </div>
            <div id="collapseSeventeen" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen">10h30-11h00
                </a>
                </h2>
              </div>
            <div id="collapseEighteen" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen">11h00-11h30
                </a>
                </h2>
              </div>
            <div id="collapseNineteen" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty">11h30-12h00
                </a>
                </h2>
              </div>
            <div id="collapseTwenty" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <div class="channelf">
         <div class="row">
          <div class="col-md-4">
              <h2>Channel list F</h2>
         </div>
          <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyone">10h00-10h30
                </a>
                </h2>
              </div>
            <div id="collapseTwentyone" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentytwo">10h30-11h00
                </a>
                </h2>
              </div>
            <div id="collapseTwentytwo" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentythree">11h00-11h30
                </a>
                </h2>
              </div>
            <div id="collapseTwentythree" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-2" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyfour">11h30-12h00
                </a>
                </h2>
              </div>
            <div id="collapseTwentyfour" class="panel-collapse collapse in">
              <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class ="links">
    <h1 class="favlinks"><a href="#">FAVOURITE PROGRAMMES</a></h1>
    <h1 class="favlinks"><a href="#">MOST WATCHED PROGRAMMES</a></h1>
    </div>

</template>