@import url('fonts.import.less');

body {
  font-family: 'Bangers', cursive;
  background: #e0e0e0;
  color: white;
}

a{
  color:white;
  font-family: 'Bangers', cursive;
}

.navbar-header{
  padding-top: 30px;
  float:left;
  font-size: 4em;

}


.navbar{
  font-family: 'Bangers', cursive;
  background-color: #757575;
  width: 100%;
  height: 100px;
}

.navbar .nav{
  float: right;
  font-size: 3em;
  color: white;
}

.login {
  color: red;
}