
<template name="addChannel">
    <div class="add_form">
	    <h1 class ="mainTitle">Add Channel</h1>

	    <form action="#" id="channel-form">
	      <input type="name" id="channel-name" placeholder="channel name" autofocus><br>
	      
	      <input type="submit" class="css_btn_class" id="channel-done" value="done">

	    </form>

	</div>
{{ >api1 }}
{{ >api2 }}
</template>

<template name="api1">

	<h1>Hi</h1>
	<h2>{{showDuration}}</h2>
	<div class="show1"></div>
</template>

<template name="api2">
	<h2>{{showName}}</h2>
	<div class="show2"></div>
</template>