
<template name="addChannel">
    <h1 class ="mainTitle">Add Channel</h1>
    
    <form action="#" id="channel-form">
      <input type="name" id="channel-name" placeholder="channel name" autofocus><br>
      <input type="prog 1" id="prog-1" placeholder="Program 1"><br>
      <input type="prog 2" id="prog-2" placeholder="Program 2"><br>
      <input type="prog 3" id="prog-3" placeholder="Program 3"><br>
      <input type="prog 4" id="prog-4" placeholder="Program 4"><br>
      
      <input type="submit" class="css_btn_class" id="channel-done" value="done">

    </form>


</template>

