<template name="schedule">
  <div class="grid">
      <div class="frame">
         <div class="bit-5 a1">
              <!-- <img src="http://placekitten.com/800/400" /> -->
              <h2>Channel list A</h2>
         </div>
         <div class="bit-5 a2">
              <h3>10h00-10h30</h3>
              <a>Friends</a>
         </div>
         <div class="bit-5 a3">
              <h3>10h30-11h00</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 a4">
              <h3>11h00-11h30</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 a5">
              <h3>11h30-12h00</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 b1">
              <h2>Channel list B</h2>
         </div>
         <div class="bit-5 b2">
              <h3>10h00-10h30</h3>
              <a>Friends</a>
         </div>
         <div class="bit-5 b3">
              <h3>10h30-11h00</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 b4">
               <h3>11h00-11h30</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 b5">
              <h3>11h30-12h00</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 c1">
              <h2>Channel list C</h2>
         </div>
         <div class="bit-5 c2">
              <h3>10h00-10h30</h3>
              <a>Friends</a>
         </div>
         <div class="bit-5 c3">
              <h3>10h30-11h00</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 c4">
              <h3>11h00-11h30</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 c5">
              <h3>11h30-12h00</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 d1">
              <h2>Channel list D</h2>
         </div>
         <div class="bit-5 d2">
              <h3>10h00-10h30</h3>
              <a>Friends</a>
         </div>
         <div class="bit-5 d3">
              <h3>10h30-11h00</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 d4">
              <h3>11h00-11h30</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 d5">
              <h3>11h30-12h00</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 e1">
              <h2>Channel list E</h2>
         </div>
         <div class="bit-5 e2">
              <h3>10h00-10h30</h3>
              <a>Friends</a>
         </div>
         <div class="bit-5 e3">
              <h3>10h30-11h00</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 e4">
              <h3>11h00-11h30</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 e5">
              <h3>11h30-12h00</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 f1">
              <h2>Channel list F</h2>
         </div>
         <div class="bit-5 f2">
              <h3>10h00-10h30</h3>
              <a>Friends</a>
         </div>
         <div class="bit-5 f3">
              <h3>10h30-11h00</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 f4">
              <h3>11h00-11h30</h3>
              <a>Blah blah</a>
         </div>
         <div class="bit-5 f5">
              <h3>11h30-12h00</h3>
              <a>Blah blah</a>
         </div>
      </div>
  </div>
</template>