<template name="schedule">

  <div class="section group">
    <div class="col span_1_of_3">
      This is column 1
    </div>
    <div class="col span_1_of_3">
      This is column 2
    </div>
    <div class="col span_1_of_3">
      This is column 3
    </div>
    <div class="col span_1_of_4">
      This is column 4
    </div>
    <div class="col span_1_of_5">
      This is column 5
    </div>
    <div class="col span_1_of_6">
      This is column 6
    </div>
    <div class="col span_1_of_7">
      This is column 7
    </div>
    <div class="col span_1_of_8">
      This is column 8
    </div>
    <div class="col span_1_of_9">
      This is column 9
    </div>
  </div>
</template>