<template name="login">


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner-cover">
            <h1 class="cover-heading">TweetTube</h1>
          

              <form class="form-signin" role="form" id="login-form">
                <h2 class="form-signin-heading">Please sign in</h2>
                  <input type="email" class="form-control" placeholder="Email address" id="accounts-email" required autofocus>
                  <input type="password" class="form-control" placeholder="Password" id="accounts-password" required>
                    <div class="checkbox">
                      <label>
                       <input type="checkbox" value="remember-me"> Remember me
                      </label>
                    </div>
                  <button class="btn btn-lg btn-primary btn-block" type="submit" id="loginbutton" value="login">Sign in</button>
              </form>
            
            <div class="other-links">
                <a href="{{ pathFor 'registration' }}">Register</a><br>
                <a href="#">Forgot password</a>
            </div>
          </div>
        </div>

      </div>

    </div>

</template>